
<!doctype html>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Home status</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

    <!-- Custom styles for this template -->
    <link href="/dashboard/dashboard.css" rel="stylesheet">
  </head>
  <body>
      <nav class="nav nav-pills nav-justified">
          <a class="nav-item nav-link active" href="#status" role="tab" data-toggle="tab" aria-controls="status">Status</a>
          <a class="nav-item nav-link" href="#control" role="tab" data-toggle="tab" aria-controls="control">Control</a>
      </nav>

    <!--탭 내용들-->
    <div class="tab-content mt-3" id="tabContent">

      <!--상태 보는 텝내용-->
      <div class="tab-pane fade show active" id="status" role="tabpanel" aria-labelledby="status-tab">
        <div class="container">
          <div class="card" >
            <div class="card-body">
                <div class="wrapper">
                  <div class="text-center">
                    Temperature
                    <p id="temp" class="status">12℃</p>
                  </div>
                  <div class="text-center">
                    Humidity
                    <p id="humi" class="status">23%</p>
                  </div>
                  <div class="text-center">
                    Dust
                    <p id="dust" class="status">23ppm</p>
                  </div>
                  <div class="text-center">
                    <img src="/asset/img/discat.png" width="40px" height="40px">
                  </div>
              </div>
              <div class="float-right" id="uptTime">update time</div>
            </div>
          </div>
        </div>
      </div>

      <!--제어 탭 내용-->
      <div class="tab-pane fade" id="control" role="tabpanel" aria-labelledby="control-tab">
        <div class="container">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <form action="/login/sign" method="POST" enctype="application/json">
                  First name:<br>
                  <input type="text" name="firstname" value="Mickey">
                  <br>
                  Last name:<br>
                  <input type="text" name="lastname" value="Mouse">
                  <br><br>
                  <input type="submit" value="Submit">
                </form> 
                <p class="card-text">Control Device is here.</p>
              </div>
            </div>
        </div>
      </div>

    </div>
  </body>
  <!-- Bootstrap core js-->
  <script src="/static/jquery/dist/jquery.js"></script>
  <script src="/static/bootstrap/dist/js/bootstrap.min.js" ></script>
  <!-- Custom js file-->
  <script src="/dashboard/dashboard.js"></script>
</html>
