
<!doctype html>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Home status</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css" >

    <!-- Custom styles for this template -->
    <link href="/dashboard/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-list bg-light">
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
      </ul>
    </nav>
  </body>
  <!-- Bootstrap core js-->
  <script src="/static/jquery/dist/jquery.js"></script>
  <script src="/static/bootstrap/dist/js/bootstrap.min.js" ></script>
  <!-- Custom js file-->
  <script src="/dashboard/dashboard.js"></script>
</html>
